* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors - Primary */
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  /* Colors - Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);

  /* Typography */
  --font-family: "Karla", sans-serif;
  --font-size-base: 16px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: var(--color-green-200);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 112px;
  font-family: var(--font-family);
}
.contact-form {
  background-color: var(--color-white);
  width: 100%;
  max-width: 800px;
  padding: 24px 32px 24px 32px;
  border-radius: 16px;
}
h1 {
  font-size: 32px;
  color: var(--color-grey-900);
  margin-bottom: 24px;
}
label {
  font-size: 16px;
  color: var(--color-grey-900);
}
